body.container {
    width: 100%;
}

main {
    padding: 40px;
}

.card {
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 30px 25px;
}

tspan {
    font-size: 14px;
    fill: #9297a0
}

.align-bottom {
    position: absolute;
    bottom: 0;
}
/****** conteúdo de moedas ******/

.money-article .card {
    height: 180px;
}

.current {
    height: 100%;
}

.currency {
    font-size: 24px;
}

.currency-value {
    font-size: 48px;
}
/****** fim do conteúdo de moedas ******/