main {
    /* display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; */
    padding: 50px;
}

.graph {
    width: 800px;
    height: 400px;
}

.right-section {
    width: 750px;
    /* display: flex;
    flex-direction: column;
    -webkit-flex-direction: column; */
}

.card {
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 40px;
}

tspan {
    font-size: 14px;
    fill: #9297a0
}

/****** conteúdo de moedas ******/

.money-article {
    width: 50%;
}
.money-article .card {
    height: 220px;
    /* display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; */
}

.current {
    /* display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between; */
    height: 100%;
}

.currency {
    font-size: 24px;
}

.currency-value {
    font-size: 96px;
}
/****** fim do conteúdo de moedas ******/