main {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.graph {
    background-color: #ffffff;
    position: relative!important;
    border-radius: 5px;
    width: 100%;
    height: 449px;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.c3 svg {
    width: 100%!important;
}

.money-section {
    width: 650px;
    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 20px;
}

/****** conteúdo de moedas ******/
.money-section .card {
    height: 200px;
}

.current {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.currency {
    font-size: 24px;
}

.currency-value {
    margin-left: 20px;
    font-size: 96px;
}
/****** fim do conteúdo de moedas ******/