.dashboard{
    background-color: #383c4a;
}
.principalChart{
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 65%;
    height: 50%;
}
#stockChart{
    margin-left: 1%;
} 
