.dashboard{
    background-color: #30336b;
}
.lineChart{
    background-color: #fff;
    position: absolute;
    top: 2%;
    left: 2%;
}
.stockChart{
    width: 99%;
    height: 39%;
    margin-left: 2%;
    margin-bottom: 2%;
}
